If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.

In [2]:
#initial solution
def sum_of_multiples_3_5(n):
  total = 0
  for i in range(1, n):
    if ((i%3==0) | (i%5==0)):
      total+=i
  return total

sum_of_multiples_3_5(16)

60

In [1]:
#refactored as a list comprehension
def sum_of_multiples_3_5(n):
  return sum([i for i in range(1, n) 
              if ((i%3==0) | (i%5==0))])

sum_of_multiples_3_5(16)

60

In [3]:
# Method with math instead of loops
def sum_of_multi(target, multiple):
  # sum of all multiples up to and including target
  x = target // multiple
  return multiple*(x*(x+1))//2

def sum_of_multiples_3_5(target):
  # Adjust target since the problem is non-inclusive
  target = target-1
  # Return the sum of multiples of 3 and 5
  # Remove dupes by subtracting all multiples of
  # least common multiplier, 15
  return (sum_of_multi(target, 3) + 
          sum_of_multi(target, 5) - 
          sum_of_multi(target, 15))

sum_of_multiples_3_5(16)

60