Using names.txt (right click and 'Save Link/Target As...'), a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth 3 + 15 + 12 + 9 + 14 = 53, is the 938th name in the list. So, COLIN would obtain a score of 938 Ã— 53 = 49714.

What is the total of all the name scores in the file?

In [1]:
import pandas as pd

In [51]:
def alpha_value(word):
    total = 0

    for letter in list(word):
        total += ord(letter)-64
    
    return total

In [53]:
df = pd.read_csv('p022_names.txt', header=None).T
df = df.sort_values(by=0)
df['position'] = list(range(1,5164))
df = df[:-1]
df['alpha_value'] = df[0].apply(alpha_value)
df['name_score'] = df['alpha_value'] * df['position']

In [55]:
sum(df['name_score'])

871198282