

Surprisingly there are only three numbers that can be written as the sum of fourth powers of their digits:

$1634 = 1^4 + 6^4 + 3^4 + 4^4$ 

$8208 = 8^4 + 2^4 + 0^4 + 8^4$

$9474 = 9^4 + 4^4 + 7^4 + 4^4$

As 1 = 1^4 is not a sum it is not included.

The sum of these numbers is 1634 + 8208 + 9474 = 19316.

Find the sum of all the numbers that can be written as the sum of fifth powers of their digits.

In [11]:
# First attempt, slower using type conversions to break out the individual nums
import time
start = time.time()

total = 0

for i in range(10, 354294):
    nums = list(str(i))
    sub_total = 0

    for num in nums:
        sub_total += int(num)**5
        if sub_total > i:
            break
    if sub_total == i:
        total += i

print(total)

print(time.time() - start)

443839
1.361093521118164

In [10]:
#Swapped out the type conversion for maths
start = time.time()

total = 0

for i in range(10, 354294):
    nums = i
    sub_total = 0

    while nums > 0:
        sub_total += (nums % 10)**5
        nums = (nums // 10)

    if sub_total == i:
        total += i

print(total)

print(time.time() - start)

443839
0.9192771911621094